<<<<<<< HEAD
<<<<<<< HEAD
.pepe{
	background-color: green;
	margin: 0;
	padding: 0;
	line-height: 60vh;
	font-size: 12rem;
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
.my-container{
    margin: 0;
    padding: 0;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(119, 122, 119);
    padding: 100px;
=======
>>>>>>> f3112e5079bf3d2747a6171632181af2b9282c98
.great-color {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: coral;
}

.cool-h1 {
    color: rgb(203, 212, 214);
    font-size: 80px;
    cursor: pointer;
}

.beuty-i:hover {
    display: inline-block;
    animation: past 0.5s infinite ease-in-out;
}

@keyframes past {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(45deg);
    }

    75% {
        transform: rotate(-45deg);
    }

    100% {
        transform: rotate(0deg);
    }
>>>>>>> 4d1985dc6b17585e9d9cbf029ee66190fec36e9a
}
=======
.centered-container{
	margin: 0;
	padding: 0;
>>>>>>> 4d1985dc6b17585e9d9cbf029ee66190fec36e9a
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
<<<<<<< HEAD
	font-size: 400px;

}
.frogs-and-hedgehogs{
	color: #ffffff;
	font-size: 7rem;
	cursor: pointer;
}

#hedgehogs:hover{
	display: inline-block;
	animation: FROG_PEPE_TOP 0.5s infinite ease-in-out;
}

@keyframes FROG_PEPE_TOP{
=======
	background: linear-gradient(to left, #e35d5b, #e53935);
}
.not-bug{
	color: #ffffff;
	font-size: 3rem;
	cursor: pointer;
}
#feature:hover{
	display: inline-block;
	animation: feature 0.5s infinite ease-in-out;
}
@keyframes feature{
>>>>>>> 4d1985dc6b17585e9d9cbf029ee66190fec36e9a
	0%{
		transform: rotate(0deg);
	}
	25%{
		transform: rotate(45deg);
	}
	75%{
		transform: rotate(-45deg);
	}
	100%{
		transform: rotate(0deg);
	}
<<<<<<< HEAD
}
=======

}
>>>>>>> a58dc478abb0cfd2e6a62214d6daf2ac9d7251c0
>>>>>>> 4d1985dc6b17585e9d9cbf029ee66190fec36e9a
